export/release/windows/haxe/
export/release/windows/obj/
export/release/windows/bin/.temp/
export/release/windows/bin/assets/
export/release/windows/bin/manifest/
export/release/windows/bin/hrtfs/
export/release/windows/bin/lua/
export/release/windows/bin/plugins/
export/release/windows/bin/do NOT readme.txt
export/release/windows/bin/HL17.exe
export/release/windows/bin/icon.ico
export/release/windows/bin/libvlc.dll
export/release/windows/bin/libvlccore.dll
export/release/windows/bin/lime.ndll
dump/
latest/windows/obj/
latest/windows/haxe/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.haxelib/
pages/
docs/doc.xml